# Leave entire .ipython checkpoint folder
*/.ipynb*
*Untitled*
*/dataSink/*
*/.idea*
*/app-logs*
*__pycache__*

*.crc
*.parquet
*/*/_SUCCESS
spark-programs/06_Spark_Sql_Demo/derby.log
spark-programs/06_Spark_Sql_Demo/metastore_db/*
